.gallery {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    max-width: 960px;
    margin: 0 auto;
    height: 100%;
    padding: 50px 60px 70px 60px;

    font-size: 14px;
    line-height: 170%;

    overflow: auto;

    background: #fff;

    text-align: center;
}

.gallery__image {
    max-height: 100%;
    max-width: 100%;
}

.gallery__date,
.gallery__title {
    font-size: 14px;
    color: #777;
    text-align: left;
}

@media screen and (max-width:540px) {
    .gallery {
        padding: 15px 10px 10px 10px;
    }
}