.gallery {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    max-width: 960px;
    margin: 0 auto;
    min-height: 100%;
    padding: 50px 50px 50px 75px;

    font-family: 'iflash-705', 'Terminal', monospace;
    font-size: 14px;
    line-height: 170%;

    background: #fff;
    position: relative;
}

.gallery__licence {
    margin: 0 0 10px 10px;
}

.gallery__licence a {
    color: #999;
    font-size: 13px;
}

.gallery__licence a:hover {
    color: blue;
}

.gallery__image {
    max-height: 100%;
    max-width: 100%;

    cursor: pointer;
}

.gallery__date,
.gallery__title {
    font-size: 14px;
    text-align: left;
}

.gallery__date {
    margin-bottom: 2em;
    color: #777;
}

.gallery__link {
    font-size: 16px;
    color: inherit;
    line-height: 30px;
}

.gallery__close {
    color: #222;
    font-size: 40px;
    line-height: 60px;
    position: absolute;
    right: 50px;
    top: 10px;
    text-decoration: none;

    font-family: Helvetica;
}

.gallery__close:hover {
    color: #0060a6;
}

@media screen and (max-width:540px) {
    .gallery {
        padding: 5px 5px 10px 5px;
    }

    .gallery__date {
        font-size: 10px;
    }

    .gallery__close {
        right: 10px;
        top: 10px;
        line-height: 20px;
    }

    .gallery__date {
        margin-bottom: 0;
    }
}