.gallery {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    max-width: 960px;
    margin: 0 auto;
    min-height: 100%;
    padding: 50px 50px 50px 75px;

    font-family: 'iflash-705', 'Terminal', monospace;
    font-size: 14px;
    line-height: 170%;

    background: #fff;
    position: relative;
}

.gallery__image {
    max-height: 100%;
    max-width: 100%;
}

.gallery__date,
.gallery__title {
    font-size: 14px;
    text-align: left;
}

.gallery__date {
    margin-bottom: 2em;
    color: #777;
}

.gallery__link {
    font-size: 16px;
    color: inherit;
    line-height: 30px;
}

@media screen and (max-width:540px) {
    .gallery {
        padding: 15px 10px 10px 10px;
    }
}