.menu {
    font-family: 'iflash-705', 'Terminal', monospace;
    position: fixed;
    left: 5px;
    top: 5px;
}

.menu__item {
    margin-bottom: 5px;
}

.menu__link {
    text-decoration: none;
    color: inherit;
    background: #fff;
    padding: 0 15px 5px;
    transition: color .3s ease-in-out;

    font-size: 14px;
}

.menu__link:hover {
    color: #0060a6;
}

@media screen and (max-width:540px) {
    .menu__link {
        font-size: 12px;
    }
}