.page {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    max-width: 960px;
    margin: 0 auto;
    min-height: 100%;
    padding: 50px 50px 50px 75px;

    font-size: 14px;
    line-height: 170%;

    background: #fff;
}

.page p {
    margin-bottom: 1.5em;
}

.page p:last-child {
    margin-bottom: 6em;
}

.page h2 {
    font-family: 'iflash-705', 'Terminal', monospace;
    font-size: 40px;
    line-height: 1.5em;

    margin-bottom: 1em;
}

@media screen and (max-width:540px) {
    .page {
        padding: 10px;
    }

    .page h2 {
        font-size: 20px;
    }
}