.share {

}

.share_mode_fixed {
    position: fixed;
    left: 5px;
    bottom: 5px;
}

.share_bg_fff {
    background: #fff;
}

.share_mode_bottom {
    text-align: center;
    padding: 70px 0 10px 0;
}

.share_mode_float {
    float: right;
}

.share .b-share__text {
    font-family: 'iflash-705', 'Terminal', monospace;
}

body .b-share-popup__item {
    font-family: 'iflash-705', 'Terminal', monospace;
    font-size: 12px;
}

@media screen and (max-width:540px) {
    .share .b-share__handle .b-share__text {
        display: none;
    }
}