.share {

}

.share_mode_fixed {
    position: fixed;
    left: 5px;
    bottom: 5px;
}

.share_bg_fff {
    background: #fff;
}

.share_mode_bottom {
    text-align: center;
    padding: 70px 0 10px 0;
}
