<form class="layer modal" action="#">
    <h2 class="modal__header">Create new character</h2>
    <label class="modal__section">
        <span>Name</span>
        <input type="text" name="name" value="<%= name %>"/>
    </label>

    <label class="modal__section">
        <span>Location</span>
        <input type="text" name="location" value="<%= location %>"/>
    </label>

    <label class="modal__section">
        <span>Date</span>
        <input type="text" name="date" value="<%= date %>"/>
    </label>

    <label class="modal__section">
        <span>Class Id</span>
        <input type="text" name="class_id" value="<%= class_id %>"/>
    </label>

    <label class="modal__section">
        <span>Photo Small</span>
        <input type="text" name="photo_small" value="<%= photo_small %>"/>
    </label>

    <label class="modal__section">
        <span>Photo Url</span>
        <input type="text" name="photo_url" value="<%= photo_url %>"/>
    </label>

    <div class="modal__buttons">
        <button class="button modal__save">Save</button>
        <button class="button modal__cancel">Cancel</button>
    </div>
</form>