<div class="gallery">
    <div class="gallery__licence" lang="en"><a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank">Using photo CC BY-NC-SA 3.0</a></div>
    <div class="gallery__licence" lang="ru"><a href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.ru" target="_blank">Использование фотографии CC BY-NC-SA 3.0</a></div>
    <img src="<%= src %>" class="gallery__image">
    <div class="share share_mode_float">
        <div class="yashare-auto-init share__buttons"
             data-yashareTitle="2Layer - фото-проект"
             data-yashareDescription="2Layer - фото-проект, разбавляющий жизнь дополнительной реальностью"
             data-yashareImage="<%= src %>"
             data-yashareL10n="ru"
             data-yashareType="link"
             data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir,gplus,pinterest"
             lang="ru"></div>
        <div class="yashare-auto-init share__buttons"
             data-yashareTitle="2Layer - photo-project"
             data-yashareDescription="2Layer - photo-project, that adds alternative reality to life"
             data-yashareImage="<%= src %>"
             data-yashareL10n="en"
             data-yashareType="link"
             data-yashareQuickServices="facebook,twitter,gplus,pinterest"
             lang="en"></div>
    </div>
    <div class="gallery__title">
        <span class="icon icon_margin_yes icon_id_<%= classId %><% if (isNewbie) { %> icon_newbie_yes<% } %>"></span><a class="gallery__link" href="<%= href %>" target="_blank"><%= name %></a>
    </div>
    <div class="gallery__date" lang="ru">Уже <%= timeOnline %> онлайн!</div>
    <div class="gallery__date" lang="en"><%= timeOnline %> online!</div>

    <div class="button-panel">
        <a href="#"><button class="button button_ok">OK</button></a>
    </div>
</div>